@theme {
  --primary-color: #31332f;
  --secondary-color: #ffff8f;
  --tertiary-color: rgba(56, 69, 47, 0.07);

  --breakpoint-100: 100px;
  --breakpoint-200: 200px;
  --breakpoint-300: 300px;
  --breakpoint-400: 400px;
  --breakpoint-500: 500px;
  --breakpoint-600: 600px;
  --breakpoint-700: 700px;
  --breakpoint-800: 800px;
  --breakpoint-900: 900px;
  --breakpoint-1000: 1000px;
  --breakpoint-1100: 1100px;
  --breakpoint-1200: 1200px;
  --breakpoint-1300: 1300px;
  --breakpoint-1400: 1400px;

  --color-primary: #31332f;
  --color-secondary: #ffff8f;
  --color-purple: #e2daeb;
  --color-brown: #c19a77;
  --color-white: #fff6d9;
  --color-tertiary: rgba(56, 69, 47, 0.07);
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@font-face {
  font-family: "STK";
  src: url("/fonts/STKBureauSerif-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "STK";
  src: url("/fonts/STKBureauSerif-Book.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-stk {
  font-family: "STK", serif;
}

.rich-text {
  h1 {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 1rem;
    font-weight: var(--font-weight-700);
  }

  h2 {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 0.875rem;
    font-weight: var(--font-weight-600);
  }

  h3 {
    font-size: 17px;
    line-height: 1.4;
    margin-bottom: 0.75rem;
    font-weight: var(--font-weight-600);
  }

  h4 {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 0.625rem;
    font-weight: var(--font-weight-600);
  }

  p {
    font-size: 15px;
    line-height: 1.6;

    margin: 10px 0;
  }

  strong {
    font-weight: var(--font-weight-700);
  }
}
